<?xml version="1.0" encoding="##ENCODING##"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>sfForkedDoctrineApplyPlugin</name>
  <channel>plugins.symfony-project.org</channel>
  <summary>Add's register and profile functionality to websites protected with sfDoctrineGuardPlugin.</summary>
  <description>This plugin is Forked version of sfDotrineApplyPlugin created by punkave guys.
This Fork got stripped stripped of all dependencies from Zend Framework, introduced Profile model inheritance, small structural changes and few usability changes as well.</description>
  <lead>
    <name>Grzegorz Śliwiński</name>
    <user>fizyk</user>
    <email>fizyk@fizyk.net.pl</email>
    <active>yes</active>
  </lead>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>##PLUGIN_VERSION##</release>
    <api>##API_VERSION##</api>
  </version>
  <stability>
    <release>##STABILITY##</release>
    <api>##STABILITY##</api>
  </stability>
  <license uri="http://www.symfony-project.org/license">MIT license</license>
  <notes>-</notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.2.4</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.3.0</min>
        <max>1.5.0</max>
        <exclude>1.5.0</exclude>
      </package>
      <package>
        <name>sfDoctrineGuardPlugin</name>
        <channel>plugins.symfony-project.org</channel>
        <min>5.0.0</min>
        <max>5.9.9</max>
    </package>
    </required>
  </dependencies>
  <phprelease></phprelease>
  <changelog>
    <release>
      <version>
        <release>##PLUGIN_VERSION##</release>
        <api>##API_VERSION##</api>
      </version>
      <stability>
        <release>##STABILITY##</release>
        <api>##STABILITY##</api>
      </stability>
      <license uri="http://www.symfony-project.org/license">MIT license</license>
      <date>##CURRENT_DATE##</date>
      <license>MIT</license>
      <notes>
	* fizyk: fixed french translation (Fabien CROMBEZ)
        * fizyk: Dutch translation (Jasper Moelker)
        * fizyk: fixed polish translation
        * fizyk: updated wrong or old translation key for all translations
      </notes>
    </release>
  </changelog>
</package>
