<?xml version="1.0" encoding="##ENCODING##"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>sfForkedDoctrineApplyPlugin</name>
  <channel>plugins.symfony-project.org</channel>
  <summary>Add's register and profile functionality to websites protected with sfDoctrineGuardPlugin.</summary>
  <description>This plugin is Forked version of sfDotrineApplyPlugin created by punkave guys.
This Fork got stripped stripped of all dependencies from Zend Framework, introduced Profile model inheritance, small structural changes and few usability changes as well.</description>
  <lead>
    <name>Grzegorz Śliwiński</name>
    <user>fizyk</user>
    <email>fizyk@fizyk.net.pl</email>
    <active>yes</active>
  </lead>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>##PLUGIN_VERSION##</release>
    <api>##API_VERSION##</api>
  </version>
  <stability>
    <release>##STABILITY##</release>
    <api>##STABILITY##</api>
  </stability>
  <license uri="http://www.symfony-project.org/license">MIT license</license>
  <notes>-</notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.2.4</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.3.0</min>
        <max>1.5.0</max>
        <exclude>1.5.0</exclude>
      </package>
      <package>
        <name>sfDoctrineGuardPlugin</name>
        <channel>plugins.symfony-project.org</channel>
        <min>4.0.0</min>
        <max>4.1.0</max>
        <exclude>4.1.0</exclude>
    </package>
    </required>
  </dependencies>
  <phprelease></phprelease>
  <changelog>
      <release>
        <version>
          <release>1.2.2</release>
          <api>1.0.0</api>
        </version>
        <stability>
         <release>stable</release>
         <api>stable</api>
        </stability>
        <license uri="http://www.symfony-project.org/license">MIT license</license>
        <date>2010-07-0x</date>
        <license>MIT</license>
        <notes>
            * Pierre Grandin: French translation
        </notes>
      </release>
      <release>
        <version>
          <release>1.2.1</release>
          <api>1.0.0</api>
        </version>
        <stability>
         <release>stable</release>
         <api>stable</api>
        </stability>
        <license uri="http://www.symfony-project.org/license">MIT license</license>
        <date>2010-05-18</date>
        <license>MIT</license>
        <notes>
            * fizyk: fixed form's tag method attribute and components templates to conform with xhtml standards
            * Mateusz Zakarczemny: MySQL error nonexistent null table when the edited email already existed in some other profile.
        </notes>
      </release>
      <release>
        <version>
          <release>1.2.0</release>
          <api>1.0.0</api>
        </version>
        <stability>
         <release>stable</release>
         <api>stable</api>
        </stability>
        <license uri="http://www.symfony-project.org/license">MIT license</license>
        <date>2010-05-05</date>
        <license>MIT</license>
        <notes>
            * fizyk: re-throwing Exceptions in sfApplyActions for dev environment, to clarify why some actions was unsucessfull.
            * fizyk: updated polish translation
            * fizyk: ability to turn off required confirmation for apply, email and/or password change (issue #3)
            * fizyk: possibility to edit emails (issue #2)
            * fizyk: custom apply form can now use custom names
        </notes>
      </release>
      <release>
        <version>
          <release>1.1.1</release>
          <api>1.0.0</api>
        </version>
        <stability>
         <release>stable</release>
         <api>stable</api>
        </stability>
        <license uri="http://www.symfony-project.org/license">MIT license</license>
        <date>2010-04-08</date>
        <license>MIT</license>
        <notes>
            * fizyk: updated readme
            * fizyk: added the ability to use custom ApplyForms
            * Daniel Londero: added missing string (23) to italian sfForkedApply.xml
        </notes>
      </release>
      <release>
        <version>
          <release>1.1.0</release>
          <api>1.0.0</api>
        </version>
        <stability>
         <release>stable</release>
         <api>stable</api>
        </stability>
        <license uri="http://www.symfony-project.org/license">MIT license</license>
        <date>2010-03-31</date>
        <license>MIT</license>
        <notes>
            * fizyk: added basic css styles for forms
            * Alessandro Rossi: adjusted italian translation
            * fizyk: reorgainised i18n strings and adjusted polish translation
            * fizyk: added recaptcha functionality to Apply and ResetRequests forms (based on vjCommentPlugin)
            * fizyk: changed type of validate_at to timestamp from datetime. No change on generated sql (reported by Magician).
        </notes>
      </release>
  </changelog>
</package>
